* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    height: 6rem;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    gap: 4rem;
}

header li {
    list-style: none;
    padding-inline: 1rem;
    border-radius: 6px;
}

header li:nth-child(3) {
    background-color: skyblue;
}

header li:nth-child(3) a {
    color: white;
}

header a {
    text-decoration: none;
    color: black;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
    margin-top: 2rem;
}

/* Estilo para los campos del formulario */
form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Estilo para el botón de enviar */
form button {
    padding: 10px 15px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

/* Cambio de color cuando el botón se pasa el mouse por encima */
form button:hover {
    background-color: skyblue;
}

/* Estilo para los parágrafos generados por form.as_p */
form p {
    margin: 0 0 10px;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

header {
    text-align: center;
    font-size: 2rem;
}